body {
    font-family: 20px Arial, Helvetica, sans-serif;
}


.navbar{
    background-color: rgb(228, 174, 174);
}

.who-we-are
{
    background-color:rgb(249, 212, 188) ;
}

.margin{
    padding-bottom: 50px;
    padding-top:10px

}  

.parceiros{
    background-color: rgb(235, 238, 208)
}

#services{
    padding-bottom: 50px;
    background-color: rgb(235, 238, 208)

}
